<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="padding-left:150px; color:lightblue;font-family:"微软雅黑";">ok!你点击了消息</h1><br>
<h1 style="padding-left:150px; color:lightblue;font-family:"微软雅黑";">ok!你点击了消息</h1><br>

<h1 style="padding-left:150px; color:lightblue;font-family:"微软雅黑";">ok!你点击了消息</h1><br>

<h2 style="padding-left:150px; color:lightgreen;font-family:"微软雅黑";">这是 bb.html</h2><br>
<h2 style="padding-left:150px; color:lightgreen;font-family:"微软雅黑";">这是 bb.html</h2>
</body>
</html>